<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{url_for("static", filename="styles.css")}}">
        <title>My app</title>
    </head>
    <body>
        <h1>Welcome to my app</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sit amet odio mollis, vehicula ex nec, dictum sapien. Integer pharetra dolor eu diam euismod fermentum. Nam hendrerit ut eros at hendrerit. Mauris scelerisque sapien nec massa malesuada consequat tincidunt porta neque. Donec nulla velit, tincidunt consectetur lacus ac, condimentum interdum dolor. Pellentesque tincidunt enim diam, vel malesuada magna suscipit a. Etiam rutrum tincidunt urna, non consequat erat interdum id. Fusce lacinia velit molestie justo ornare pellentesque efficitur interdum sem. Etiam cursus scelerisque commodo. Quisque ornare cursus purus, eget sollicitudin sapien iaculis quis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam in porta est, et luctus sapien. Suspendisse imperdiet ante vitae maximus condimentum. Curabitur egestas nec leo vitae posuere. Suspendisse eu vestibulum purus. Praesent interdum diam in vulputate faucibus.</p>
    </body>
</html>